//variables

$lg_screen_header_min_width: 600px;
$percent_header_width: 33%;

$lg_screen_sub_header_min_width: ($lg_screen_header_min_width - 150px);
$percent_sub_header_width: ($percent_header_width + 30%);

$lg_screen_containter_max_width: 1200px;
$lg_screen_content_min_width: 600px;
$percent_content_width: 65%;

$blue: #46d6ff;
$red: #ef4c26;

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@font-face {
    font-family: 'FuturaStd-Medium';
    src: url('../../fonts/FuturaStd-Medium.eot?#iefix') format('embedded-opentype'),  url('../../fonts/FuturaStd-Medium.otf')  format('opentype'),
         url('../../fonts/FuturaStd-Medium.woff') format('woff'), url('../../fonts/FuturaStd-Medium.ttf')  format('truetype'), url('../../fonts/FuturaStd-Medium.svg#FuturaStd-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'TrajanPro-Bold';
    src: url('../../fonts/TrajanPro-Bold.eot?#iefix') format('embedded-opentype'),  url('../../fonts/TrajanPro-Bold.otf')  format('opentype'),
         url('../../fonts/TrajanPro-Bold.woff') format('woff'), url('../../fonts/TrajanPro-Bold.ttf')  format('truetype'), url('../../fonts/TrajanPro-Bold.svg#TrajanPro-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'TrajanPro-Regular';
    src: url('../../fonts/TrajanPro-Regular.eot?#iefix') format('embedded-opentype'),  url('../../fonts/TrajanPro-Regular.otf')  format('opentype'),
         url('../../fonts/TrajanPro-Regular.woff') format('woff'), url('../../fonts/TrajanPro-Regular.ttf')  format('truetype'), url('../../fonts/TrajanPro-Regular.svg#TrajanPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$base_font: 'FuturaStd-Medium', arial, sans-serif;
$h_font:    'TrajanPro-Regular', $base_font;

html {
    color: #fff;
    font-size: 1.333em;
    line-height: 1.666em;
}

body {

    background: #000 url(../../img/main-poster.jpg) no-repeat 50% 0;
    background-size: contain;
    font-family: $base_font;

}

header {

    padding-top: 10px;
    min-height: 700px;

    a {

        background: url(../../img/logo.png) no-repeat 50% 0;
        background-size: contain;
        display: block;
        //width: 412px;
        height: 95px;
        overflow: hidden;
        text-indent: -99999px;
        @extend .single-col-header;

    }

    h1 {

        background: url(../../img/h1-title.png) no-repeat 50% 0;
        background-size: contain;
        display: block;
        //width: 1200px;
        height: 295px;
        overflow: hidden;
        text-indent: -99999px;
        @extend .single-col-header;

    }

}

section {

    @extend .single-col;
    position: relative;

    &:after {

        content: "";
        display: block;
        height: 0;
        width: 6px;
        background: url(../../img/dot.png);
        position: absolute;
        top: 100%;
        margin-left: -3px;
        left: 50%;

        -webkit-transition: all 1000ms ease-out;
        -moz-transition: all 1000ms ease-out;
        -o-transition: all 1000ms ease-out;
        transition: all 1000ms ease-out;
    }

    &.passed:after {

        height: 216px;

    }

    h2 {

        font-family: $h_font;
        text-align: center;
        color: #fff;
        font-size: 2em;
        line-height: 1em;
        @extend .single-col-sub-header;
        @extend .header-underline;

        &.blue-line {

            @extend .header-underline-blue;

        }

        &.blue {

            color: #46d6ff;

        }

        span {

            color: #fff;
            display: block;
            text-transform: uppercase;
            font-family: $base_font;
            font-size: 0.666em;
            font-weight: normal;

        }

    }

    p {

        text-align: center;
        color: #fff;
        letter-spacing: 1px;

    }

    figure {

        padding: 0;
        margin: 0;
        position: relative;

        img {

            width: 100%;
            max-width: 100%;
            height: auto;

        }

        div {

            display: block;
            width: 100% !important;
            max-width: 100%;
            height: 0;
            background: url(../../img/actual-pic.png) no-repeat 50% 100%;
            background-size: 100% auto;
            border-top: #fff solid 5px;
            position: absolute;
            bottom: 0;
            left: 0;
            margin: 0 !important;
            padding: 0;

            -webkit-transition: all 2000ms ease-out;
            -moz-transition: all 2000ms ease-out;
            -o-transition: all 2000ms ease-out;
            transition: all 2000ms ease-out;

            -webkit-transform: translate3d(0, 0, 0);

        }

        div.initial {

            height: 100%;
            background: url(../../img/diagram-pic.png) no-repeat 50% 0%;
            background-size: 100% auto;
            bottom: auto;
            top: 0;
            border: 0;
            margin: 0;

        }

        &.activated {

            div.cover {

                height: 100%;

            }

            div.initial {

                height: 0%;

            }

        }

        &:hover {

            div.cover {

                height: 0%;

            }

            div.initial {

                height: 100%;

            }

        }

    }

    &.two-col {

        margin: 270px auto;

        figure, div {

            width: 45%;
            display: inline-block;
            vertical-align: top;

        }

        div {

            width: 50%;

        }

        h2 {

            font-size: 1.8em;

        }

    }

    &.content-right {

        div {

            margin-left: 4%;

        }

        h2, p {

            text-align: left;
            min-width: 0;
            width: 100%;

        }

        h2 {

            @extend .blue;
            @extend .pull-block-left;

        }

        figure img {

            opacity: 0;
            visibility: none;

        }

    }

    &.content-left {

        div {

            margin-right: 4%;

        }

        h2, p {

            text-align: left;
            min-width: 0;
            width: 100%;

        }

        h2 {

            @extend .blue;
            @extend .pull-block-left;

        }

        img {

            opacity: 0;
            position: relative;
            right: -30%;

            -webkit-transition: all 600ms ease-out;
            -moz-transition: all 600ms ease-out;
            -o-transition: all 600ms ease-out;
            transition: all 600ms ease-out;

        }

        &.passed {

            img {

                opacity: 1;
                right: 0;

            }

        }

    }

    &.icons {

        width: 70%;
        margin: 270px auto;
        text-align: right;

        ul {

            margin: 50px auto;
            position: relative;
            text-align: center;
            padding: 0;
            z-index: 2;

            li {

                display: inline-block;
                height: 130px;
                width: 130px;
                background-position: 0 0;
                overflow: hidden;
                text-indent: -99999px;
                margin: 10px;
                z-index: 3;

                &:hover, &.active {

                    cursor: pointer;

                    /* div {

                        display: block;
                        opacity: 1;

                        &:after, &:before {

                            opacity: 1;

                        }

                    } */

                }

                &#shield {

                    background-position: 0 1px;
                    background-image: url(../../img/icons/shield-icon.png);

                    &:hover, &.active {

                        background-position: 0 100%;

                        div {

                            &:after {

                                height: 1px;
                                width: 390px;
                                left: -390px;
                                top: 63px;

                            }

                            &:before {

                                height: 124px;
                                width: 1px;
                                left: -390px;
                                top: -61px;
                            }

                        }

                    }

                }

                &#cut {

                    background-position: 0 1px;
                    background-image: url(../../img/icons/cut-icon.png);

                    &:hover, &.active {

                        background-position: 0 100%;

                    }

                }

                &#eye {

                    background-position: 0 1px;
                    background-image: url(../../img/icons/eye-icon.png);

                    &:hover, &.active {

                        background-position: 0 100%;

                    }

                }

                &#fire {

                    background-position: 0 1px;
                    background-image: url(../../img/icons/fire-icon.png);

                    &:hover, &.active {

                        background-position: 0 100%;

                    }

                }

                &#house {

                    background-position: 0 1px;
                    background-image: url(../../img/icons/house-icon.png);

                    &:hover, &.active {

                        background-position: 0 100%;

                    }

                }

                &#temp {

                    background-position: 0 1px;
                    background-image: url(../../img/icons/temp-icon.png);

                    &:hover, &.active {

                        background-position: 0 100%;

                    }

                }

            }

        }

    }

    &.lightbox {

        width: 90%;
        text-align: center;

        h2 {

            margin-bottom: 60px;

        }

        a {

            display: inline-block;
            width: 17.25%;
            margin: 1%;
            padding: 12px;
            box-sizing: border-box;
            border: #5e5e5e solid 5px;

            -webkit-transition: all 300ms ease-out;
            -moz-transition: all 300ms ease-out;
            -o-transition: all 300ms ease-out;
            transition: all 300ms ease-out;

            &:hover {

                border-color: $blue;

            }

            img {

                height: auto;
                width: 100%;
                max-width: 100%;

            }

        }

    }

    &.interactive-diagram {

        figure {

            z-index: 2;

            img {

            }

            a {

                opacity: 0;
                position: absolute;
                display: block;
                background: url(../../img/icons/pulse-btn-over.png) no-repeat 50% 50%;
                background-size: 5% 5%;
                width: 48px;
                height: 48px;
                margin-left: -24px;

                -webkit-transition: all 300ms ease-out;
                -moz-transition: all 300ms ease-out;
                -o-transition: all 300ms ease-out;
                transition: all 300ms ease-out;

                z-index: 3;


                &.visible {

                    opacity: 1;
                    background: url(../../img/icons/pulse-btn.png) no-repeat 50% 50%;
                    background-size: auto auto;

                    &:hover, &.active {

                        background-image: url(../../img/icons/pulse-btn-over.png);
                        background-size: 100% 100%;

                        -webkit-transition: all 300ms ease-in;
                        -moz-transition: all 300ms ease-in;
                        -o-transition: all 300ms ease-in;
                        transition: all 300ms ease-in;

                    }

                }

                &#cabin {

                    top: 14%;
                    left: 49.5%;

                }

                &#harness {

                    top: 42%;
                    left: 49.5%;

                }

                &#zipper {

                    top: 26%;
                    left: 44%;

                }

                &#removal {

                    top: 15%;
                    left: 35%;

                }

                &#material {

                    top: 60%;
                    left: 39%;

                }

            }

        }

        .diagram-content {

            position: relative;
            width: 100%;
            margin-right: 0;
            z-index: 1;

            .text {

                width: 100%;
                margin-right: 0;

                h3 {

                    @extend .header-underline;
                    @extend .pull-block-left;

                }

                p {

                    border: 0;
                    padding: 0;

                }

            }


        }

    }

    div.text {

        opacity: 0;
        display: inline-block;
        /* top: 200px;
        right: 0; */
        position: absolute;
        left: 0;
        width: 50%;
        text-indent: 0;
        z-index: 1;
        text-align: left;

        h3 {

            color: $red;
            font-family: $base_font;

        }

        p {

            border-left: #fff solid 5px;
            text-align: left;
            padding-left: 15px;

        }

        &:after, &:before {

            content: "";
            position: absolute;
            height: 0;
            width: 0;
            //display: block;
            background-color: #fff;
            top: 0;
            left: 0;
            opacity: 0;

            -webkit-transition: all 600ms ease-out;
            -moz-transition: all 600ms ease-out;
            -o-transition: all 600ms ease-out;
            transition: all 600ms ease-out;

        }

        &.visible {

            position: relative;
            opacity: 1;

            -webkit-transition: all 600ms ease-out;
            -moz-transition: all 600ms ease-out;
            -o-transition: all 600ms ease-out;
            transition: all 600ms ease-out;

            h3, p {

            }

        }

    }

}

footer {

    @extend .single-col;
    padding-bottom: 100px !important;

    h6 {

        font-family: $h_font;
        text-align: center;
        color: $blue;
        font-size: 2em;
        line-height: 1em;
        margin-bottom: 0;

    }

    p {

        text-align: center;
        line-height: 1.666em;

    }

    section {

        p {

            font-size: 0.8em;

        }

        &:after {

        display: none;

        }

    }

}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: $blue;
    text-shadow: none;
}

::selection {
    background: $blue;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.single-col-header {

    width: $percent_header_width;
    min-width: $lg_screen_header_min_width;
    max-width: $lg_screen_containter_max_width;
    margin: 0 auto;


}

.single-col-sub-header {

    width: $percent_sub_header_width;
    min-width: $lg_screen_sub_header_min_width;
    max-width: $lg_screen_containter_max_width;
    margin: 0 auto;


}

.single-col {

    width: $percent_content_width;
    min-width: $lg_screen_content_min_width;
    max-width: $lg_screen_containter_max_width;
    margin: 0 auto;
    padding-bottom: 20px;

}

.header-underline {

    border-bottom: #fff solid 1px;
    padding-bottom: 20px;
    position: relative;

    &:after {

        content: "";
        display: block;
        width: 90px;
        height: 12px;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -45px;
        background: #fff;

    }

}

.pull-block-left {

    &:after {

        margin: 0;
        left: 0;

    }

}

.no-line {

    border: 0;
    padding-bottom: 0;

    &:after {

        display: none;

    }

}

.header-underline-blue {

    @extend .header-underline;
    border-bottom-color: $blue;

    &:after {

        background-color: $blue;

    }

}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 600px) {

    header {

        min-height: initial;

        a {

            width: 50%;
            min-width: initial;

        }

        h1 {

            width: 80%;
            min-width: initial;
            margin-bottom: 50px;

        }


    }

    section, section h2, section.two-col figure, section.two-col div, footer {

        width: 90%;
        min-width: initial;
        margin: 20px auto;
        display: block;

    }

    section h2 {

        font-size: 1.5em;

    }

    section.icons {

        div.text {

            width: 100%;

        }

    }

    section.lightbox {

        a {

            width: 33%;

        }

    }

    footer {

        h6 {

            font-size: 1em;
            font-size: 0.7em;

        }

    }

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request: h5bp.com/r
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* Magnific Popup CSS */

//@import "settings";

////////////////////////
//
// Contents:
//
// 1. Default Settings
// 2. General styles
//    - Transluscent overlay
//    - Containers, wrappers
//    - Cursors
//    - Helper classes
// 3. Appearance
//    - Preloader & text that displays error messages
//    - CSS reset for buttons
//    - Close icon
//    - "1 of X" counter
//    - Navigation (left/right) arrows
//    - Iframe content type styles
//    - Image content type styles
//    - Media query where size of arrows is reduced
//    - IE7 support
//
////////////////////////



////////////////////////
// 1. Default Settings
////////////////////////

$mfp-overlay-color:                   #0b0b0b !default;
$mfp-overlay-opacity:                 0.8 !default;
$mfp-shadow:                          0 0 8px rgba(0, 0, 0, 0.6) !default; // shadow on image or iframe
$mfp-popup-padding-left:              8px !default; // Padding from left and from right side
$mfp-popup-padding-left-mobile:       6px !default; // Same as above, but is applied when width of window is less than 800px

$mfp-z-index-base:                    1040 !default; // Base z-index of popup
$mfp-include-arrows:                  true !default; // include styles for nav arrows
$mfp-controls-opacity:                0.65 !default;
$mfp-controls-color:                  #FFF !default;
$mfp-controls-border-color:           #3F3F3F !default;
$mfp-inner-close-icon-color:          #333 !default;
$mfp-controls-text-color:             #CCC !default; // Color of preloader and "1 of X" indicator
$mfp-controls-text-color-hover:       #FFF !default;
$mfp-IE7support:                      true !default; // Very basic IE7 support

// Iframe-type options
$mfp-include-iframe-type:             true !default;
$mfp-iframe-padding-top:              40px !default;
$mfp-iframe-background:               #000 !default;
$mfp-iframe-max-width:                900px !default;
$mfp-iframe-ratio:                    9/16 !default;

// Image-type options
$mfp-include-image-type:              true !default;
$mfp-image-background:                #444 !default;
$mfp-image-padding-top:               40px !default;
$mfp-image-padding-bottom:            40px !default;
$mfp-include-mobile-layout-for-image: true !default; // Removes paddings from top and bottom

// Image caption options
$mfp-caption-title-color:             #F3F3F3 !default;
$mfp-caption-subtitle-color:          #BDBDBD !default;

// A11y
$mfp-use-visuallyhidden:              false !default; // Hide content from browsers, but make it available for screen readers



////////////////////////
// 2. General styles
////////////////////////

// Transluscent overlay
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $mfp-z-index-base + 2;
  overflow: hidden;
  position: fixed;

  background: $mfp-overlay-color;
  opacity: $mfp-overlay-opacity;
  @if $mfp-IE7support {
    filter: unquote("alpha(opacity=#{$mfp-overlay-opacity*100})");
  }
}

// Wrapper for popup
.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $mfp-z-index-base + 3;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; // fixes webkit bug that can cause "false" scrollbar
}

// Root container
.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 $mfp-popup-padding-left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// Vertical centerer helper
.mfp-container {
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

// Remove vertical centering when popup has class `mfp-align-top`
.mfp-align-top {
  .mfp-container {
    &:before {
      display: none;
    }
  }
}

// Popup content holder
.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: $mfp-z-index-base + 5;
}
.mfp-inline-holder,
.mfp-ajax-holder {
  .mfp-content {
    width: 100%;
    cursor: auto;
  }
}

// Cursors
.mfp-ajax-cur {
  cursor: progress;
}
.mfp-zoom-out-cur {
  &, .mfp-image-holder .mfp-close {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
  }
}
.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}
.mfp-auto-cursor {
  .mfp-content {
    cursor: auto;
  }
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select:none;
  -moz-user-select: none;
  user-select: none;
}

// Hide the image during the loading
.mfp-loading {
  &.mfp-figure {
    display: none;
  }
}

// Helper class that hides stuff
@if $mfp-use-visuallyhidden {
  // From HTML5 Boilerplate https://github.com/h5bp/html5-boilerplate/blob/v4.2.0/doc/css.md#visuallyhidden
  .mfp-hide {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
  }
} @else {
  .mfp-hide {
    display: none !important;
  }
}


////////////////////////
// 3. Appearance
////////////////////////

// Preloader and text that displays error messages
.mfp-preloader {
  color: $mfp-controls-text-color;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: $mfp-z-index-base + 4;
  a {
    color: $mfp-controls-text-color;
    &:hover {
      color: $mfp-controls-text-color-hover;
    }
  }
}

// Hide preloader when content successfully loaded
.mfp-s-ready {
  .mfp-preloader {
    display: none;
  }
}

// Hide content when it was not loaded
.mfp-s-error {
  .mfp-content {
    display: none;
  }
}

// CSS-reset for buttons
button {
  &.mfp-close,
  &.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: $mfp-z-index-base + 6;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  &::-moz-focus-inner {
      padding: 0;
      border: 0
  }
}


// Close icon
.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;

  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: $mfp-controls-opacity;
  @if $mfp-IE7support {
    filter: unquote("alpha(opacity=#{$mfp-controls-opacity*100})");
  }
  padding: 0 0 18px 10px;
  color: $mfp-controls-color;

  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;

  &:hover,
  &:focus {
    opacity: 1;
    @if $mfp-IE7support {
      filter: unquote("alpha(opacity=#{1*100})");
    }
  }

  &:active {
    top: 1px;
  }
}
.mfp-close-btn-in {
  .mfp-close {
    color: $mfp-inner-close-icon-color;
  }
}
.mfp-image-holder,
.mfp-iframe-holder {
  .mfp-close {
    color: $mfp-controls-color;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    width: 100%;
  }
}

// "1 of X" counter
.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: $mfp-controls-text-color;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}

// Navigation arrows
@if $mfp-include-arrows {
  .mfp-arrow {
    position: absolute;
    opacity: $mfp-controls-opacity;
    @if $mfp-IE7support {
      filter: unquote("alpha(opacity=#{$mfp-controls-opacity*100})");
    }
    margin: 0;
    top: 50%;
    margin-top: -55px;
    padding: 0;
    width: 90px;
    height: 110px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    &:active {
      margin-top: -54px;
    }
    &:hover,
    &:focus {
      opacity: 1;
      @if $mfp-IE7support {
        filter: unquote("alpha(opacity=#{1*100})");
      }
    }
    &:before,
    &:after,
    .mfp-b,
    .mfp-a {
      content: '';
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      left: 0;
      top: 0;
      margin-top: 35px;
      margin-left: 35px;
      border: medium inset transparent;
    }

    &:after,
    .mfp-a {

      border-top-width: 13px;
      border-bottom-width: 13px;
      top:8px;
    }

    &:before,
    .mfp-b {
      border-top-width: 21px;
      border-bottom-width: 21px;
      opacity: 0.7;
    }

  }

  .mfp-arrow-left {
    left: 0;

    &:after,
    .mfp-a {
      border-right: 17px solid $mfp-controls-color;
      margin-left: 31px;
    }
    &:before,
    .mfp-b {
      margin-left: 25px;
      border-right: 27px solid $mfp-controls-border-color;
    }
  }

  .mfp-arrow-right {
    right: 0;
    &:after,
    .mfp-a {
      border-left: 17px solid $mfp-controls-color;
      margin-left: 39px
    }
    &:before,
    .mfp-b {
      border-left: 27px solid $mfp-controls-border-color;
    }
  }
}



// Iframe content type
@if $mfp-include-iframe-type {
  .mfp-iframe-holder {
    padding-top: $mfp-iframe-padding-top;
    padding-bottom: $mfp-iframe-padding-top;
    .mfp-content {
      line-height: 0;
      width: 100%;
      max-width: $mfp-iframe-max-width;
    }
    .mfp-close {
      top: -40px;
    }
  }
  .mfp-iframe-scaler {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: $mfp-iframe-ratio * 100%;
    iframe {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: $mfp-shadow;
      background: $mfp-iframe-background;
    }
  }
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}



// Image content type
@if $mfp-include-image-type {

  /* Main image in popup */
  img {
    &.mfp-img {
      width: auto;
      max-width: 100%;
      height: auto;
      display: block;
      line-height: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: $mfp-image-padding-top 0 $mfp-image-padding-bottom;
      margin: 0 auto;
    }
  }

  /* The shadow behind the image */
  .mfp-figure {
    line-height: 0;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: $mfp-image-padding-top;
      bottom: $mfp-image-padding-bottom;
      display: block;
      right: 0;
      width: auto;
      height: auto;
      z-index: -1;
      box-shadow: $mfp-shadow;
      background: $mfp-image-background;
    }
    small {
      color: $mfp-caption-subtitle-color;
      display: block;
      font-size: 12px;
      line-height: 14px;
    }
    figure {
      margin: 0;
    }
  }
  .mfp-bottom-bar {
    margin-top: -$mfp-image-padding-bottom + 4;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    cursor: auto;
  }
  .mfp-title {
    text-align: left;
    line-height: 18px;
    color: $mfp-caption-title-color;
    word-wrap: break-word;
    padding-right: 36px; // leave some space for counter at right side
  }

  .mfp-image-holder {
    .mfp-content {
      max-width: 100%;
    }
  }

  .mfp-gallery {
    .mfp-image-holder {
      .mfp-figure {
        cursor: pointer;
      }
    }
  }


  @if $mfp-include-mobile-layout-for-image {
    @media screen and (max-width: 800px) and (orientation:landscape), screen and (max-height: 300px) {
      /**
       * Remove all paddings around the image on small screen
       */
      .mfp-img-mobile {
        .mfp-image-holder {
          padding-left: 0;
          padding-right: 0;
        }
        img {
          &.mfp-img {
            padding: 0;
          }
        }
        .mfp-figure {
          // The shadow behind the image
          &:after {
            top: 0;
            bottom: 0;
          }
          small {
            display: inline;
            margin-left: 5px;
          }
        }
        .mfp-bottom-bar {
          background: rgba(0,0,0,0.6);
          bottom: 0;
          margin: 0;
          top: auto;
          padding: 3px 5px;
          position: fixed;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          &:empty {
            padding: 0;
          }
        }
        .mfp-counter {
          right: 5px;
          top: 3px;
        }
        .mfp-close {
          top: 0;
          right: 0;
          width: 35px;
          height: 35px;
          line-height: 35px;
          background: rgba(0, 0, 0, 0.6);
          position: fixed;
          text-align: center;
          padding: 0;
        }
      }
    }
  }
}



// Scale navigation arrows and reduce padding from sides
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }
  .mfp-container {
    padding-left: $mfp-popup-padding-left-mobile;
    padding-right: $mfp-popup-padding-left-mobile;
  }
}



// IE7 support
// Styles that make popup look nicier in old IE
@if $mfp-IE7support {
  .mfp-ie7 {
    .mfp-img {
      padding: 0;
    }
    .mfp-bottom-bar {
      width: 600px;
      left: 50%;
      margin-left: -300px;
      margin-top: 5px;
      padding-bottom: 5px;
    }
    .mfp-container {
      padding: 0;
    }
    .mfp-content {
      padding-top: 44px;
    }
    .mfp-close {
      top: 0;
      right: 0;
      padding-top: 0;
    }
  }
}